#root {
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#appTitle {
  display: flex;
  justify-content: center;
}
#logo {
  padding-top: 20px;
  padding-right: 20px;
  height: 80px;
}

#navUl {
  list-style: none;
  display: flex;
  justify-content: space-evenly;

}

.teammates {
  display: flex;
  justify-content: space-evenly;
}

.accidentsAttribution, .weatherAttribution {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#dataInfo {
  width: auto;
  padding: 0;
  margin: 0;
}

#accidenInfo, #weatherInfo {
  font-size: 15px;
  padding: 10px;
}
#weatherInfo {
  margin-top: 8px;
}
.info {
  padding: 0;
  margin: 0;
}

#chartComponent {
  display: flex;
}
#dataPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: pink;
}
#dataCharts {
  flex: 3;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
