.info-box {
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #646cff;
}

.close-btn:hover {
  outline: 2px solid white; 
}