.info-box {
  border: 1px solid #ccc;
  padding: 15px;
  width: 100%;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #646cff;
}

.close-btn:hover {
  outline: 2px solid white; 
}