.info-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-top: 1px solid #bdc3c7;
  border-left: 4px solid #3498db;
  background-color: #ecf8ff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 5px 15px 15px 15px;
}

.info-box h3 {
  margin: 0;
  font-size: 30px;
  color: #34495e;
  border-bottom: none;
}

.info-box p {
  margin: 8px 0;
  font-size: 17px;
  color: #555555;
  padding: 5px;
  margin: 0;
}

.info-box p strong {
  color: #2c3e50;
}

#titleButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #bdc3c7;
}

.close-btn {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 35px 15px 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px
}

.close-btn:hover {
  background-color: #c0392b;
}

@media (max-width: 900px) {
  .info-box {
    width: 95%;
    padding: 15px;
  }

  .info-box h3 {
    font-size: 25px;
  }

  .info-box p {
    font-size: 17px;
  }

  .close-btn {
    font-size: 17px;
    padding: 4px 8px;
  }
}
