.legend {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f9fc;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  max-width: 200px;
  margin-right: 5px;
  margin-left: auto;
}

.legend-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #34495e;
  background-color: #ecf8ff;
  padding: 8px 10px;
  margin: 0 15px 0 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.legend-icon {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .legend {
    max-width: 150px;
    flex-direction: column;
    gap: 15px;
  }

  .legend-item {
    width: 100%;
    justify-content: center;
    padding: 5px 7px;
  }
}
