/* Map.css */


.ui-container {
  height: 100%;
  width: 100%;
  display: flex;
}
#main{
  flex:1;
}
#map, .leaflet-container {
  flex:3;
  width: 100%;
  height: 100vh; /* Full viewport height */
}
#legend{
  flex:1;
}